@use "../../abstracts" as *;
@use "abstracts";
@use "./pages/jaar2";

/* Base */
body {
  font-family: 'Inter', sans-serif;
  background: $color-background-default;
  color: $color-text-base;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: $padding-xl $padding-l;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    background: $color-base-white;
    border-radius: $border-radius-md;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}
