/* Error: $color: null is not a color.
 *    ,
 * 38 |         box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(map-get(variables.$baseVars, "color"), 0.1);
 *    |                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   resources\scss\components\auth\auth.scss 38:44  @use
 *   resources\scss\style.scss 3:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: null is not a color.\a    \2577 \a 38 \2502          box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(map-get(variables.$baseVars, "color"), 0.1);\a    \2502                                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   resources\\scss\\components\\auth\\auth.scss 38:44  @use\a   resources\\scss\\style.scss 3:1                   root stylesheet';
}
