@use "variables";
@use "mixins";

.textinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4rem;
    width: 100%;

    &__label{
        font-size: 90%;
        color: rgba(map-get(variables.$colors, "basic-black"), 0.8);
    }

    &__input{
        background: none;
        // border: 0.1rem solid rgba(map-get(variables.$colors, "basic-black"), 0.4);
        font-size: 110%;
        padding: 0.4rem;
        border-radius: 0.2rem;
        width: 100%;
    }

    &__error{
        font-size: 75%;
        color: map-get(variables.$colors, "error-red");
    }
}

.pinkbutton{
    // background: map-get(variables.$colors, "button-primary");
    // // border: 0.2rem solid map-get(variables.$colors, "buttonBorder");
    // border: none;
    // box-shadow: inset 0 -0.1rem 0 0 map-get(variables.$colors, "button-primary-border");
    // border-radius: map-get(variables.$border, "border-radius-sm");
    // padding: map-get(variables.$padding, "padding-s") map-get(variables.$padding, "padding-md");
    // color: map-get(variables.$colors, "basic-white");
    // font-weight: 600;
    // font-size: 100%;
    // text-decoration: none;
      display: inline-block;
      background: map-get(variables.$colors, "button-primary");
      color: map-get(variables.$colors, "basic-white");
      text-decoration: none;
      padding: map-get(variables.$padding, "padding-m") map-get(variables.$padding, "padding-l");
      border-radius: map-get(variables.$border, "border-radius-m");
      font-weight: 600;
      font-size: 0.85rem;
      transition: 0.2s ease;

    &:hover{
        transform: translateY(-2px);
        filter: brightness(1.05);
    }
}

.button{
    text-decoration: none;
    padding: map-get(variables.$padding, "padding-m") map-get(variables.$padding, "padding-l");
    border-radius: map-get(variables.$border, "border-radius-md");
    font-weight: 600;
    transition: 0.2s ease;

    &__blue {
        background: map-get(variables.$baseVars, "background-dark");
        color: map-get(variables.$colors, "basic-white");

        &:hover {
        background: map-get(variables.$colors, "text-blue");
        }
    }

    &__ghost {
        background: rgba(255, 255, 255, 0.15);
        color: map-get(variables.$colors, "basic-white");
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:hover {
        background: rgba(255, 255, 255, 0.25);
        }
    }
}

.checkbox{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    font-size: 90%;
    position: relative;

    &__input{
        width: 1.5rem;
        aspect-ratio: 1/1;
        appearance: none;
        border: 0.15em solid map-get(variables.$colors, "basic-black");
        // border: map-get(variables.$border, "standard-border");
        border-radius: map-get(variables.$border, "border-radius-s");

        &:focus{
            outline: none;
        }

        &:checked ~ .checkbox__mark::after{
            display: block;
        }
    }
    
    &__mark{
        position: absolute;
        top: 0;
        left: 0;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0.45rem;
            border: solid map-get(variables.$colors, "button-primary");
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);
            width: 0.6rem;
            height: 1.3rem;
            display: none;

        }
    }
}

