$baseVars: (
    "background": white,
    "color": black,
    "font": sans-serif
);

$colors: (
    "button-primary": #e11d83,
	"button-primary-border": minmax(1px, 0.125em) solid #B7266F,
	"basic-white": #FFF,
	"basic-black": #000,
	"text-blue": #374151,
	"footer-black": #202020,
    "error-red": #ff525d 
);

$padding: (
    "padding-xs": 0.125em,
	"padding-s": 0.25em,
	"padding-m": 0.5em,
	"padding-md": 0.75em,
	"padding-l": 1em,
	"padding-xl": 1.25em,
);

$border: (
    "standard-border": minmax(1px, 0.125em) solid #000,
	"border-radius-s": 0.25em,
	"border-radius-sm": 0.5em,
	"border-radius-m": 0.625em,
	"border-radius-md": 0.75em,
	"border-radius-l": 1em,
	"border-radius-xl": 1.25em,
);